<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.noteapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/contract"
        android:label="@string/app_name"
        android:roundIcon="@drawable/contract"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteApp"
        tools:targetApi="31">
        <activity android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".NoteDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EditNotesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CreateNote"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Notes"
            android:exported="false" />
        <activity
            android:name=".login.ForgetPassword"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".login.SignUp"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".login.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
    </application>

</manifest>